@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Oswald:200,400|Playfair+Display:400,400i');

$bold: 'Oswald', sans-serif;
$abril: 'Abril Fatface', serif;
$serif: 'Playfair Display', serif;

$white: #ffffff;
$main: #92BFB1;
$dark: #333333;
$ease-slow: all .4s ease-out;

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: $main;
}

.sticky {
  position: fixed;
  z-index: 10;
}

.navbar--container {
  top: 15%;
  background: $white;
  height: 220px;
  width: 90px;
  box-shadow: 2px 2px 15px rgba($dark, .1);

  .navbar--icon {
    margin-top: 24px;
    margin-left: 49px;
    font-size: 1em;
    cursor: pointer;
  }
  .navbar--title h4 {
    writing-mode: vertical-rl;
    letter-spacing: .34em;
    text-transform: uppercase;
    font-size: .9em;
    padding-top: 17px;
  }
}

.nav--open {
  height: 100vh;
  width: 300px;
  background: $white;
  transition: $ease-slow;
  opacity: 1;
  box-shadow: 2px 2px 15px rgba($dark, .1);

  &.close {
    transform: translateX(-300px);
    opacity: 0;
  }

  .nav--open-icon {
    text-align: right;
    padding: 20px;
    font-size: 1.8em;
    cursor: pointer;
  }
  .nav--open-title {
    text-align: center;
    margin-top: 35%;
    font-family: $serif;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: .2em;
  }
  .nav--open-menu a {
    display: block;
    font-size: 2em;
    padding: 15px 0;
    text-align: center;
    font-family: $serif;
  }
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    font-family: $abril;
    margin: 0;
    line-height: 1em;
    font-weight: 100;
    font-size: 3.5em;
    color: $white;

    span {
      font-style: italic;
      text-decoration: underline;
      color: darken($main, 10%);
    }
  }
}

.two { background: darken($main, 1%); }
.three { background: darken($main, 10%); }

.underline {
  text-decoration: underline;
}
