
<div style="background-image: url('hydbackpix.jpg'); background-repeat: no-repeat; background-size: 100vw 100vh; height: 100%;">
<app-leftsidebar [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()" (changeIsLeftSidebarCollapsed)="changeIsLeftSidebarCollapsed($event)" />
<div class="main">
    <div class="fixed-bottom p-3" style="background-color: #f8b525;">
        <div class="container">
            <div class="row" style="background-color: #f8b525; height: 4vw;">
                <div class="col-lg-12 col-md-12 col-sm-12">

                </div>
            </div>
        </div>
    </div>
</div>
</div>


